@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    background: #fff;
    height: 100vh;
}
.menu{
    display: flex;
    justify-content: space-between;
    background: #1DCAD3; 
    height: 60px;
    line-height: 56px;  
}
a{
    text-decoration: none;
    margin-right: 16%;
    color: #fff;
    font-family: 'Laila';
}
.titulo{
    font-family: sans-serif;
    margin-left: 9%;
    color: #fff;
}
.tudo .subtitulo{
    font-size: 25px;
    font-weight: 500;
    position: relative;
    margin-left: 19%;
    color: #0f0f0f;
    margin-top: 1.5rem;
}
.tudo .subtitulo::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 195px;
    background: #1DCAD3;
}
.tudo form .usuario{
    display: flex;
    flex-wrap: wrap;
    margin-left: 1.8%;
    color: #0f0f0f;
    font-size: 1.1rem;
    margin-top: 1.5rem;
    justify-content: space-between;
    max-width: 700;
    width: 54%;
}
form .usuario .input-box{
    margin: 20px 0 12px 0;
    width: calc(100% / 2 - 20%);
    margin-top: 1.3rem;
}
.usuario .input-box .detalhes{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;

}
.usuario .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px ;
    transition: all 0.3 ease;
}
.usuario .input-box input:focus,
.usuario .input-box input:valid{
    border-color: #F28F8F;
}

.genero .genero-titulos{
    font-size: 20px;
    font-weight: 500;
    color: #0f0f0f;
    margin-left: 2%;
}
.genero .categoria{
    display: flex;
    width: 50%;
    margin: 14px 0;
    justify-content: space-between;
    margin-left: 2%;
}
.genero .categoria label{
    display: flex;
    align-items: center;
}
.genero .categoria .dot{
    height: 18px;
    width: 18px;
    background: #d9d9d9;
    border-radius: 50%;
    margin-right: 10px;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}
#dot-1:checked ~ .categoria label .one,
#dot-2:checked ~ .categoria label .two,
#dot-3:checked ~ .categoria label .three,
#dot-4:checked ~ .categoria label .thore{
    border-color: #d9d9d9;
    background: #9b59b6;
}
input[type="radio"]{
    display: none;
}
.botao{
    height: 45px;
    margin: 45px 0;
}
.botao input{
    margin-left: 3.5%;
    height: 100%;
    width: 50%;
    outline: none;
    color: #fff;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 10px;
    letter-spacing: 1px;
    background: #F28F8F;
}
.img img {
    width: 30rem;
    margin-left: 52.3%;
    margin-top: -50rem;
}
@media (max-width: 584px){
    .tudo{
        max-width: 100%;
    }
form .usuario .input-box{
    margin-bottom: 15px;
    width: 100%;
}
form .genero .categoria{
    width: 100%;
}
.tudo form .usuario{
    max-height: 300px;
    overflow-y: scroll;
}
.usuario::-webkit-scrollbar{
    width: 0;
}
}